.logo-png {
  width: 50px;
  height: 50px;
  color: black;
  display: none;
}

h2 {
  margin-left: 20px;
  color: black;
  font-weight: 500;
  font-size:30px;
  width: 300px;
}

.header-main {
  justify-content: start;
  align-items: center;
  background-color: #6499d051;
  height: 150px;
}

.titulo-e-pequisa-div {
  height: 100px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.filtros {
  height: 80px;
  display: flex;
  justify-content: space-between;
  width: 1280px;
  margin-left: 16px;
}

.fornecedor-filtro-div,
.fabricante-filtro-div,
.referencia-filtro-div,
.grupo-filtro-div,
.codigo-filtro-div {
  display: flex;
  align-items: center;
  
  height: 30px;
}

.label-filtros {
  margin:0px 4px;
  font-weight: bolder;
}

.icone-de-pesquisa {
  width: 32px;
  margin-right: 20px;
  color: white;
  cursor: pointer;
}

.search-div {
  display: flex;
  margin-right: 30px;
  width: 100%;
}

.div-search-and-input{
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 350px;
}

.input-text-pesquisa {
  width: 100%;
  height: 36px;
  border-radius: 0px ;
  border: solid;
  border-width: 1px;
  font-size: 20px;
  padding-left: 8px ;
  background-color: white;
}

/*Código da responsividade do Header*/

@media (max-width: 1100px) {
  .div-search-and-input {
    margin-left:200px;
  }
}

@media (max-width: 900px) {
  .div-search-and-input {
    margin-left: 100px;
  }

  .header-main {
    height: 100px;
  }

  .filtros {
    display: none;
  }
}

@media (max-width: 720px) {
  .input-text-pesquisa {
    display: none;
  }

  .icone-de-pesquisa {
    width: 50px;
  }

  .div-search-and-input {
    margin-left: 0px;
  }

  .filtros {
    display: none;
  }

  h2 {
    font-size: 22px;
    margin: 0px 0px 0px 20px;
    width: 250px;
  }

  .header-main {
    height: 80px;
  }

  .titulo-e-pequisa-div {
    height: 80px;
  }
}

@media (max-width: 600px) {
  .icone-de-pesquisa {
    width: 80px;
  }
}

