.logo-png {
  width: 50px;
  height: 50px;
  color: black;
  display: none;
}

h2 {
  margin-left: 20px;
  color: black;
  font-weight: 500;
  font-size:30px;
  width: 300px;
}

.header-main {
  justify-content: start;
  align-items: center;
  background-color: #6499d051;
  height: 150px;
  /*max-width: 1364px;*/
}

.titulo-e-pequisa-div {
  height: 100px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.filtros {
  height: 80px;
  display: flex;
  justify-content: space-between;
  /*width: 1364px;*/
  margin-left: 16px;
}

.fornecedor-filtro-div,
.fabricante-filtro-div,
.referencia-filtro-div,
.grupo-filtro-div,
.codigo-filtro-div {
  display: flex;
  align-items: center;
  
  height: 30px;
}

.label-filtros {
  margin:0px 4px;
  font-weight: bolder;
}

.icone-de-pesquisa {
  width: 32px;
  color: white;
  cursor: pointer;
}

.search--input-div {
  margin:0px 20px 0px 300px;
  flex: 1;
}

.search-div{
  width: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input-text-pesquisa {
  width: 100%;
  height: 36px;
  border-radius: 0px ;
  border: solid;
  border-width: 1px;
  font-size: 20px;
  padding-left: 8px ;
  background-color: white;
  margin: 0px;
}

/*Código da responsividade do Header*/

@media (max-width: 1100px) {
  .div-search-and-input {
    min-width: none;
  }
}

@media (max-width: 900px) {
  .div-search-and-input {
  }

  .header-main {
    height: 100px;
  }

  .filtros {
    display: none;
  }
}

@media (max-width: 600px) {
  .icone-de-pesquisa {
    width: 80px;
  }
}

h2.hidden {
  display: none;
}

.search-div.visible {
  display: block;
}

.search--input-div.visible{
  display: flex;
}

/* Opcional: esconder o input de pesquisa por padrão em dispositivos móveis */
@media (max-width: 768px) {
  .search-div {
    width: 30px;
    margin:0px 20px;
  }

  .icone-de-pesquisa {
    width: 20px;
  }

  .search-div.visible {
    display: flex;
    margin-right: 30px;
    width: 100%;
  }

  .search--input-div {
    margin:0px 0px 0px 20px;
    display: none;
  }

  .icone-de-pesquisa {
    width: 40px;
    margin: 0;
  }

  .filtros {
    display: none;
  }

  h2 {
    font-size: 22px;
    margin: 0px 0px 0px 20px;
    width: 250px;
  }

  .header-main {
    height: 70px;
  }

  .titulo-e-pequisa-div {
    height: 70px;
    display: flex;
    justify-content: space-between;

  }
}

